$zer: 0;
$px32: 65px;
$px16: 45px;
$primary: #161616;
$secondary: #323232;

body{
    margin: $zer;
}

header{
    height: $px32;
    background-color: $primary;
}

nav{
    height: $px16;
    background-color: $secondary;
}